[submodule "lib/capricorn/priv/vendor/bertrpc"]
	path = lib/capricorn/priv/vendor/bertrpc
	url = git://github.com/fd/bertrpc.git
[submodule "lib/capricorn/priv/vendor/bert"]
	path = lib/capricorn/priv/vendor/bert
	url = git@github.com:fd/bert.git
[submodule "lib/capricorn/priv/vendor/thor"]
	path = lib/capricorn/priv/vendor/thor
	url = git://github.com/wycats/thor.git
[submodule "lib/capricorn/priv/vendor/highline"]
	path = lib/capricorn/priv/vendor/highline
	url = git://github.com/JEG2/highline.git
[submodule "lib/capricorn/priv/vendor/mustache"]
	path = lib/capricorn/priv/vendor/mustache
	url = git://github.com/defunkt/mustache.git
[submodule "lib/capricorn/priv/vendor/rush"]
	path = lib/capricorn/priv/vendor/rush
	url = git@github.com:fd/rush.git
[submodule "lib/capricorn/priv/vendor/session"]
	path = lib/capricorn/priv/vendor/session
	url = git://github.com/ahoward/session.git
