{sys, [
  {lib_dirs, ["../lib"]},
  {rel, "capricorn", "1.0.0", [
    kernel,
    stdlib,
    sasl,
    inets,
    bert,
    bertio,
    bertrpc,
    emq,
    capricorn,

    reltool,
    compiler
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib
  ]},
  {boot_rel, "capricorn"},
  {app, bert,      [{incl_cond, include}]},
  {app, bertio,    [{incl_cond, include}]},
  {app, bertrpc,   [{incl_cond, include}]},
  {app, emq,       [{incl_cond, include}]},
  {app, capricorn, [{incl_cond, include}]},
  {app, sasl,      [{incl_cond, include}]},
  {app, reltool,   [{incl_cond, include}]},
  {app, compiler,  [{incl_cond, include}]}
]}.

{rebar, [
  {empty_dirs, [
    "var/run/capricorn-machine",
    "var/run/capricorn-cluster",
    "var/log/sasl"
  ]},

  {overlay, "overlay"}
]}.
