{target_dir, "capricorn"}.

{overlay, [
  {mkdir, "var/run/capricorn"},
  {mkdir, "var/run/capricorn-cluster"},
  {mkdir, "var/log/sasl"},
  {copy, "overlay/bin/capricornd",           "bin/capricornd"},
  {copy, "overlay/erts-vsn/bin/erl",         "{{erts_vsn}}/bin/erl"},
  {copy, "overlay/erts-vsn/bin/nodetool",    "{{erts_vsn}}/bin/nodetool"},
  {copy, "overlay/etc/capricorn/app.config", "etc/capricorn/app.config"},
  {copy, "overlay/etc/capricorn/vm.args",    "etc/capricorn/vm.args"}
]}.

{sys, [
  {lib_dirs, ["../lib", "../deps"]},
  {rel, "capricorn", "1.0.0", [
    kernel,
    stdlib,
    sasl,
    inets,
    crypto,
    ssl,
    ep2p,
    os_mon,
    
    skerl,
    bitcask,
    erlang_js,
    mochiweb,
    riak_core,
    riakc,
    ebloom,
    luke,
    protobuffs,
    riak_kv,
    luwak,
    webmachine,

    capricorn,

    reltool,
    compiler
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib,
    ep2p,
    ssl
  ]},
  {boot_rel, "capricorn"},
  {profile, embedded},
  {app, skerl,      [{incl_cond, include}]},
  {app, bitcask,    [{incl_cond, include}]},
  {app, erlang_js,  [{incl_cond, include}]},
  {app, mochiweb,   [{incl_cond, include}]},
  {app, riak_core,  [{incl_cond, include}]},
  {app, riakc,      [{incl_cond, include}]},
  {app, ebloom,     [{incl_cond, include}]},
  {app, luke,       [{incl_cond, include}]},
  {app, protobuffs, [{incl_cond, include}]},
  {app, riak_kv,    [{incl_cond, include}]},
  {app, luwak,      [{incl_cond, include}]},
  {app, webmachine, [{incl_cond, include}]},
  {app, capricorn,  [{incl_cond, include}]},
  {app, sasl,       [{incl_cond, include}]},
  {app, crypto,     [{incl_cond, include}]},
  {app, ssl,        [{incl_cond, include}]},
  {app, ep2p,       [{incl_cond, include}]},
  {app, reltool,    [{incl_cond, include}]},
  {app, compiler,   [{incl_cond, include}]}
]}.
