{sys, [
  {lib_dirs, ["../lib"]},
  {rel, "capricorn", "1.0.0", [
    kernel,
    stdlib,
    sasl,
    inets,
    bert,
    bertio,
    bertrpc,
    gcd,
    capricorn
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib
  ]},
  {boot_rel, "capricorn"},
  {profile, embedded},
  {excl_sys_filters, [
    "^bin/.*",
    "^erts.*/bin/(dialyzer|typer)"
  ]},
  % {excl_archive_filters, [".*"]},
  {app, bert,      [{incl_cond, include}]},
  {app, bertio,    [{incl_cond, include}]},
  {app, bertrpc,   [{incl_cond, include}]},
  {app, gcd,       [{incl_cond, include}]},
  {app, capricorn, [{incl_cond, include}]},
  {app, sasl,      [{incl_cond, include}]}
]}.

{rebar, [
  {empty_dirs, [
    "var/run/capricorn",
    "var/log/capricorn"
  ]},
  
  {overlay, "overlay"}
]}.
