[
  %% Capricorn config
  {capricorn, [
    
    {cluster, [
      {database, "var/run/capricorn-cluster"}
    ]},
    
    {machine, [
      % location of the cluster node
      {cluster, 'cluster@127.0.0.1'},
      
      % path to gem repo
      {gems_path, "/opt/local/lib/ruby/gems/1.8"},
      
      {database, "var/run/capricorn-machine"},
      
      {recipe, "macports"}
    ]},
    
    {log, [
      {file, "var/log/capricorn.log"},
      {level, debug}
    ]},
    
    {internal_api, [
      {users, cap_service_users}
    ]},
    
    {external_api, [
      % {stats, cap_service_stats}
    ]},
    
    {daemons, [
      % {backup, {cap_daemon_backup,start_link,[]}}
    ]},
    
    {event_handlers, [
      % {backup, {cap_daemon_backup,[]}}
    ]}
  ]},
  
  {sasl, [
    {sasl_error_logger, {file, "var/log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "var/log/sasl"},  % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].